---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import WhySection from '../components/WhySection.astro';
import FactsSection from '../components/FactsSection.astro';
import OpportunitySection from '../components/OpportunitySection.astro';
import ValueSection from '../components/ValueSection.astro';
import AcquireSection from '../components/AcquireSection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <WhySection />
    <FactsSection />
    <OpportunitySection />
    <ValueSection />
    <AcquireSection />
    <Footer />
  </main>
</BaseLayout>
